# ── Compilados Java ──────────────────────────────────────────
build/
dist/
*.class

# ── NetBeans ──────────────────────────────────────────────────
nbproject/private/
nbproject/build-impl.xml
nbbuild/
nbdist/
.nb-gradle/

# ── IDEs ──────────────────────────────────────────────────────
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.suo
*.user

# ── Sistema operativo ─────────────────────────────────────────
.DS_Store
Thumbs.db
desktop.ini

# ── Logs ─────────────────────────────────────────────────────
*.log
